body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display:flex;
    background-color: #222;
    justify-content:space-between;
    align-items:center;
    padding: 15px 30px;
    color:white;

}
.menu a {
    color: pink;
    margin: 0 10px;
    text-decoration: none;
}

.menu a:hover {
    color: orange;
}


.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: #333;
    cursor: pointer;
}


.content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
}


.footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
}